<div class="layout-header">
    <span class="slogan">Ruozhi's Blog</span>
    <sl-tab active="<% window.location.pathname === '/' %>">首页</sl-tab>
    <sl-tab active="<% window.location.pathname === '/workbench' %>">控制台</sl-tab>
</div>

<style>
    .slogan {
        font-size: 1rem;
        font-weight: 400;
    }
</style>
