<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="//cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.bootcdn.net/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="//cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//unpkg.com/@shoelace-style/shoelace@2.0.0-beta.7/dist/shoelace/shoelace.css">
    <script type="module" src="//unpkg.com/@shoelace-style/shoelace@2.0.0-beta.7/dist/shoelace/shoelace.esm.js"></script>
    <script src="/js/common.js"></script>
    <title><%= title ? title + ' - Ruozhi\'s Blog' : 'Ruozhi\'s Blog' %></title>
</head>
<body>
    <div class="alert alert-danger alert-global fade" role="alert">
        <span class="alert-content"></span>
    </div>
    <%- body %>
</body>

<style>
    .alert-global {
        width: 80%;
        margin: 20px auto;
    }
</style>
</html>
