<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">登录</h3>
            <form class="needs-validation login-form" novalidate>
                <div class="form-group">
                    <label for="phone">手机号码</label>
                    <input name="phone" type="text" class="form-control" placeholder="请输入手机号码" required>
                    <div class="invalid-feedback">
                        请输入手机号码
                    </div>
                </div>
                <div class="form-group">
                    <label for="passsword">密码</label>
                    <input name="password" type="password" class="form-control" placeholder="请输入密码" required>
                    <div class="invalid-feedback">
                        请输入密码
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary btn-login" type="submit">
                        <span class="loading spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        登录
                    </button>
                    <a href="/register" class="btn btn-link btn-register">
                        注册
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/user.js"></script>
<script>
$(function() {
    const loginBtn = $('.btn-login')
    $('.login-form').on('submit', function(e) {
        e.preventDefault()
        this.classList.add('was-validated')
        if(!this.checkValidity()) {
            return
        }
        loginBtn.attr('disabled', true)
        loginSubmit.call(this)
    })

    /**
     * 登录表单提交
     */
    function loginSubmit() {
        const formData = $(this).serializeArray().reduce((data, item) => {
            data[item.name] = item.value
            return data
        }, {})
        request.userLogin(formData, {
            complete() {
                loginBtn.removeAttr('disabled')
            }
        })
    }
})
</script>

<style>
    body {
        width: 100%;
        height: 100vh;
        background: #b8e5f8 url(/images/login_bg.png) no-repeat center / cover;
    }
    .card {
        min-width: 400px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .loading {
        display: none
    }
    .btn-login:disabled .loading {
        display: inline-block;
    }
</style>
